.info {
    position:relative; 
    left:0px; 
    top: 0px;
    width: 270px; 
    height:80%;
    padding: 6px 8px;
    text-align:center; 
    font-size: 16px
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 3px solid rgb(173, 64, 34);
    z-index: 2;
    opacity: 0.8;
}

.info p {
    margin-left:50px;
    text-align:left; 
    font-size: 16px ,
    font-weight:2px,
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.info h2 {
    margin-bottom: 20px;
    min-width:250px;
}s

.info a {
    font: 18px 
}

/* 按国家统计图表 */
/* #button{
    position:absolute; 
    height:600px;
    width: 316px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(173, 64, 34);
    text-align: center;
    line-height: 50px;
} */
#countrybar{
    position:absolute;
    right:20px;bottom:30px;
    width:60%;
    height:30%;
    background-color:rgb(255, 255, 255);
    z-index:-1
}

#half{
    background-color:rgb(135, 149, 151);
    position:absolute;  /*绝对定位*/
    /* margin:5px; */
    left:0px;
    top: 60%;
    height:7%;    /*设置元素高度*/
    width: 100%;
    text-align:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    font-weight: 5;
    /* font-style: ; */
    color:rgb(255, 255, 255);  /*设置文字颜色*/
    z-index:5
 }

 .span1{
    position:absolute;  /*绝对定位*/
    left:33%;
    top: 70%;
    padding:12px 6px 15% 6px;
    /* margin-left: 6px; */
    border-left: 3px;
    border-left-style:dotted;
    /* border-color:black; */
    z-index:7
    }


    .legend {
        color: #555;
        right: 50px;
        padding: 6px 8px;
        font: 12px Arial, Helvetica, sans-serif;
        font-weight: bold;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .legend ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        clear: both;
    }
    .legend li {
        display: inline-block;
        width: 30px;
        height: 22px;
    }
    .legend .min {
        float: left;
        padding-bottom: 5px;
    }
    .legend .max {
        float: right;
    }
